.text {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  color: black;
}
.title {
  font-family: 'PT serif',serif;
  font-style: normal;
  font-weight:700;
  color: black;
}
